<!DOCTYPE html>
<html>
<head>
	<title>INVISIBLE THINGS</title>
</head>
<body BGCOLOR="BLACK" TEXT="WHITE">
<h1><font face="Arial Black">Sorry! INVISIBLE THINGS CAN'T SEEN BY NAKED EYES :(
<h1>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
.
<BR>
KINDLY BRING A MICROSCOPE :)-I<

</FONT>
<BR>
<a href="Dr.stone.html"><font face="lucida handwriting">BACK</font></a>
<BR>
<a href="00homepage.html"><font face="lucida handwriting">BACK TO HOMPAGE</font></a>
</body>
</html>
